/*======= All App Files Include Here ======*/

//Default Bootstrap File
@import "./bootstrap";

/*==== Core Mixins ====*/
@import "./custom/mixins/mixin";

/*==== Core Utilities =====*/
@import "./custom/utilities/utilities";

// Custom Variables Files
@import "./custom";

// Custom Layout Files
@import "./custom/layouts/layout";

// Custom themes Files
@import "./custom/themes/themes";

@import "./fonts.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  color: white;
}

input::placeholder {
  color: #eeeeee;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white !important;
}

a {
  text-decoration: none;
}

#canvas {
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 1;
  overflow: hidden;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: white;
}

#shirt_container {
  background-color: "transparent";
  position: relative;
  width: 400px;
  height: 450px;
}
#shirt_container img {
  opacity: 0;
  width: 100%;
}
#shirt_container canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.rct-page-content {
  margin: 0;
  padding: 0;
}

.dot {
  width: 35px;
  height: 35px;
  position: absolute;
  background: url("../images/dollar.png");
  background-size: 100% 100%;
}
#dollar_animation {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  left: 0;
  overflow: hidden;
}

#logo {
  left: 50%;
  top: 50%;
  position: absolute;
  border-radius: 10px;
}

#DiacoDesignLink,
#pens {
  color: #fff;
}

.mouse-cursor {
  cursor: pointer;
}

// .bg-main-custom-gradient{
//   background: linear-gradient(180deg, #333366 0%, #333366 24.82%, #58588d 62.59%, #58588d 100%);
// }

.bg-main-custom-gradient {
  background: linear-gradient(#333366, #58588d);
}

/* Animate Background Image */
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes lockmove {
  0% {
    left: 20px;
  }
  50% {
    left: calc(100% - 60px);
  }
  100% {
    left: 20px;
  }
}

@keyframes triangle1 {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(200deg);
  }
  100% {
    transform: rotate(380deg);
  }
}

@keyframes triangle2 {
  0% {
    transform: rotate(60deg);
  }
  50% {
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(420deg);
  }
}

@keyframes dividermove {
  0% {
    left: 50%;
    opacity: 1;
    width: 40px;
  }
  25% {
    left: 20%;
    opacity: 0;
    width: 0px;
  }
  50% {
    left: 50%;
    opacity: 1;
    width: 40px;
  }
  75% {
    left: 80%;
    opacity: 0;
    width: 0px;
  }
  100% {
    left: 50%;
    opacity: 1;
    width: 40px;
  }
}
@keyframes mask {
  0% {
    transform: translate(-50%, 20%) rotate(60deg);
  }
  50% {
    transform: translate(-50%, 20%) rotate(240deg);
  }
  100% {
    transform: translate(-50%, 20%) rotate(420deg);
  }
}

@keyframes popup {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 0;
  }
}

th,
td {
  text-align: center;
  vertical-align: middle;
}
